@mixin niceScrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;

  *-webkit-scrollbar {
    width: 2px;
  }
  *-webkit-scrollbar-track {
    background: transparent;
  }
  *-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }
}

@mixin noScrollbar {
  *-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin enlargeWhenHover {
  transition: transform .1s;
  cursor: pointer;

  &:hover{
    transform: scale(1.1);
  }
}

@mixin brightenWhenHover {
  cursor: pointer;

  &:hover{
    filter: brightness(120%);
  }
}

@mixin flatContainer {
  border-radius: var(--container-radius);
  background: #F5F5F5;
  box-shadow: 2px 2px 6px #727272, -1px -1px 3px #dddddd;
}

@mixin accentContainer {
  border-radius: var(--container-radius);
  background: linear-gradient(90deg, var(--code-color-accent), #82a3e3);
  box-shadow:  1px 1px 6px #c2c2c2,
  -1px -1px 6px #f5f5f5;
}

@mixin pressedFlatContainer {
/*  background: var(--flat-pressed-container-background);
  box-shadow:  var(--flat-pressed-container-shadow);*/
}
