@import "styles/mixins";

$title-height: 4em;

.container {
  margin: 1em 0;
  border-radius: var(--container-radius);
  align-items: flex-start;
  max-height: var(--max-height-content-panel);
  height: fit-content;
  background-color: var(--code-background-color);
  width: 40em;
  box-shadow: 3px 3px 12px #494949, -1px -1px 3px #dddddd;


  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    width: 100% !important;
    padding: 1em;
    height: $title-height;
    border-radius: var(--container-radius) var(--container-radius) 0 0 ;

    span {
      color: var(--background-color);
      font-family: 'Roboto Mono', monospace;
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  pre {
    overflow: hidden;
    overflow-x: scroll;
    background-image: url('/isotype.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 50%; /* Resize the background image to cover the entire container */
    background-color: var(--code-background-color) !important;
    color: var(--secondary-color) !important;
    padding: 0.7em;
    display: flex;
    padding-right: 0;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-height: calc(var(--max-height-content-panel) - 2em);
    height: calc(100% - #{$title-height});

    code {
      padding: 0;
      font-size: 1em !important;
      width: 86%;
      max-height: calc(var(--max-height-content-panel) - 2em);
    }

    ::selection {
      background-color: var(--code-text-selection-color);
    }
  }
}

.codeTabs{
  height: 100%;

  ul {
    background-color: var(--primary-color);
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  li {
    font-size: 1em;
    padding: 0.3em 1em;
    outline:none;
    cursor:pointer;
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
    color: var(--low-visibility-text-color);
    border-top: 1px solid transparent;
    background-color: var(--code-background-color);
    font-family: 'Roboto Mono', monospace;
    &:hover {
      filter: brightness(120%);
    }
  }
}

.activeTab{
  background-color: var(--background-color) !important;
  border-top: 2px solid var(--background-color) !important;
  color: var(--primary-color) !important;
}
